.detalles-alquiler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 29rem;
    margin-bottom: 29rem;
  }
  
  .detalles-alquiler-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1200px;
    max-width: 100% !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
  }
  
  .detalles-alquiler-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .detalles-alquiler-header h2 {
    margin-bottom: 8px;
  }
  
  .detalles-alquiler-header p {
    font-size: 16px;
    color: #888;
  }
  
  .detalles-alquiler-body {
    display: flex;
  }
  
  .detalles-alquiler-image {
    flex: 1;
    border-radius: 12px !important;
  }
  
  .alquiler-image {
    width: 70rem;
    height: 550px;
    border-radius: 5% !important;
    object-fit: contain !important;
  }
  
  .detalles-alquiler-details {
    flex: 1;
    padding: 0 20px;
  }
  
  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .detail-icon {
    font-size: 32px;
    margin-right: 5px;
  }
  
  .detalles-alquiler-description {
    margin-top: 20px;
  }
  
  
  .detail-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .carousel-prev-arrow {
    left: 10px;
    z-index: 1;
  }
  
  .carousel-next-arrow {
    right: 10px;
  }
  
  .carousel-arrow:hover {
    color:#000;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  @media (max-width: 767px) {
    .detalles-alquiler-container {
      padding-left: 30px;
      padding-right: 30px;
      min-height: 300px !important;
    }

    .detail-list {
      display: flex;
      flex-direction: column;
    } 
  
    .detail-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    .detail-icon {
      margin-right: 0.5rem;
    }

    .alquiler-image {
      height: 400px;
      object-fit: cover !important;
      width: 100px;
    }
  }

  @media (max-width: 1200px) {
    .detalles-alquiler-container {
      padding-left: 30px;
      padding-right: 30px;
      min-height: 300px !important;
    }

    .detail-list {
      display: flex;
    } 
  
    .detail-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    .detail-icon {
      margin-right: 0.5rem;
    }

    .alquiler-image {
      height: 400px;
      object-fit: cover !important;
      width: 100px;
      border-radius: 0 !important;
    }
  }

  .scale-in-right {
    -webkit-animation: scale-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes scale-in-right {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
  }
  @keyframes scale-in-right {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
  }
  