.container-card-product-all{
    display: grid;
    place-items: center;
    height: 30em;
    margin: 0rem;
    flex-basis: calc(23.33% - 1rem);
    max-width: calc(23.33% - 1rem); 
}

.card-product {
    width: 400px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1.2em;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  

.content-product-all {
    background: #fff;
    margin: 0em;
    border-end-start-radius: 1.2em;
    border-end-end-radius: 1.2em;
    margin-bottom: 1px;
}

.img-product-all {
    width: 100%;
    display: inline-block !important;
    height: 300px;
    border-radius: 1.2em 1.2em 0 0;
    object-fit: cover !important;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6em;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 18px;
    background-color: transparent !important;
}


#title-reviews {
    font-size: 1em;
}

.product-shop-cart {
    font-size: .95em;
    margin: 0 !important;
}

.name-product-all, .price-product-all {
    font-size: 1.2em !important;
    color: black !important;
    font-weight: bolder !important;
    padding-left: 20px !important;
    padding-right: 20px;
    white-space: nowrap;
}

.description-all-product {
    margin: .7em 1em;
}

.button-container-product-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 1em;
}

.card-button-product-all{
    display: flex;
    align-items: center;
    background: #bfbfbf;
    padding: .3em;
    border-radius: .3em;
    cursor: pointer;
    margin-left: 51px !important;
    margin-bottom: 10px;
}


.cart-icon-product-all, .card-button-product-all p , .like-button-all {
    padding: .5em .8em;
}

@media screen and (max-width: 767px){
    .card-product {
        width: 350px !important;  
        margin-right: 50px !important;
        display: flex !important;
        flex-direction: column !important;
       
    }
    .container-cards {
        position: relative;
        right: 15px;
        display: flex !important;
        flex-direction: column !important;
    }
    .review-container{
        font-size: 15px;
    }
  
}

@media (max-width: 400px) {

    .container-cards {
        position: relative !important;
        right: 30px !important;
        display: flex !important;
        flex-direction: column !important;
    }
  }

  
@media (min-width: 1000px) {

    .container-cards {
        position: relative !important;
        padding-right: 10px !important;
        display: flex !important;
        gap: 60px !important;
    }
    .card-product {
        width: 350px !important;
        gap: 60px !important;  
    }
    .review-container{
        font-size: 15px;
    }
  }